@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

.cardHighlight {
  min-height: 100%;
}

#nav{
  color:#fcfcfc;
 }

#JumboBanner {
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}

#dateBar {
  width: 200px !important!;
}

#cardBreakdown {
  margin: 10px !important;
  background-color: #DCDCDC !important;
  box-shadow: 10px 10px 8px #888888 !important;
}

#AddRecordBody CardLink {
  text-align: right !important;
}

#cardlink {
  text-align: right !important;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  opacity: 0.5;
  border-radius: 25px !important;
}

#recordCard {
  margin: 10px !important;
  box-shadow: 10px 10px 8px #888888 !important;
}

#bodyRecords {
  background-color: blue !important;
}

#profileCard {
  background-color:  !important;
  box-shadow: 10px 10px 8px #888888 !important;
  margin-top: 10px !important;
}

#profileCardTop {
  background-color:  !important;
  box-shadow: 10px 10px 8px #888888 !important;
}

#recordBody {
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #DCDCDC !important;
  box-shadow: 10px 10px 8px #888888 !important;
  overflow-y: scroll !important;
  height: 100vh;
}

#loginBody {
  background-color: #DCDCDC !important;
  box-shadow: 10px 10px 8px #888888 !important;
}

#registerBody {
  background-color: #DCDCDC !important;
  box-shadow: 10px 10px 8px #888888 !important;
}

#__next {
  background-color: #f2f2f2 !important;
}

#JumboBanner {
  /*background-image: url("../public/pexels.jpg") !important;*/
  background: rgb(159,159,159) !important;
  background: linear-gradient(90deg, rgba(159,159,159,1) 0%, rgba(224,224,224,1) 3%, rgba(159,159,159,1) 100%, rgba(7,56,152,1) 100%, rgba(0,212,255,1) 100%)!important;
  width: 100% !important;
}

#title {
  font-weight: bold !important;
}

#addCategoryModal {
  padding: 30px !important;
}

#registerButton {
  color: blue !important;
}

#profileRow {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}



@media only screen and (max-width: 640px){
  #addModal {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #ieBreakdown {
    background-color: #DCDCDC !important;
    box-shadow: 10px 10px 8px #888888 !important;
    margin: 10px !important;
  }
 

}

@media only screen and (min-width: 640px) and (max-width: 1400px){
  #addModal {
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  /*#modal {
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    opacity: 1 !important;
  }*/

  #editRecordModal {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #ieBreakdown {
    background-color: #DCDCDC !important;
    margin-right: 70px;
    margin-left: 70px;
    box-shadow: 10px 10px 8px #888888 !important;
  }
}